# Stock Image API Keys
# Get your free API keys from:
# Unsplash: https://unsplash.com/developers
# Pixabay: https://pixabay.com/api/docs/
# Flickr: https://www.flickr.com/services/api/

UNSPLASH_ACCESS_KEY=your_unsplash_access_key_here
PIXABAY_API_KEY=your_pixabay_api_key_here
FLICKR_API_KEY=your_flickr_api_key_here